<!DOCTYPE html>
<html lang="en">
   <head>      
      <meta charset="UTF-8">
   </head>
   <body>
      <p>
         Hello,password was reset, Your new password is: <br />
         {{emailData}} <br />         
         <p>Please Click  
         <a href="http://localhost:3000">
         here
         </a> to login your account.
      </p>
      </p>
   </body>
</html>
