<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>SuccessfullyRegistered</title>
   </head>
   <body>
      <p> Hello, You are Successfully! registered by
         {{emailData.clientname}} <br />
         Please use the following credentials to login:  <br />
         Username:   {{emailData.username}}<br />
         password:  {{emailData.confirmPassword}} <br />
         <p>Please Click  
         <a href="http://localhost:4200/login">
         here
         </a> for login page.
         <br />
         Thank you
      </p>
   </body>
</html>